#!/bin/sh

set -e

. /usr/share/debconf/confmodule

#db_input high naturfakta-web/path || true
db_input high gitolite-backup-scripts/gitoliteuser || true
db_input high gitolite-backup-scripts/remoteserver || true
db_input high gitolite-backup-scripts/salt || true
db_input high gitolite-backup-scripts/key || true
db_go

exit 0
